body {
  overflow-x: hidden;
}

.App {
  background-color: black;
  color: white;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: red;
}

.spinner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.banner {
  height: 700px;
  display: flex;
  align-items: center;
}

.banner::before {
  position: absolute;
  content: '';
  width:100%;
  height: 700px;
  background : linear-gradient(to top, black, transparent);
}

.banner-info {
  width: 50%;
  margin-left: 50px;
  z-index: 1;
}

.banner-info .title {
  font-size: 30px;
  font-weight: bold;
}

.banner-info .overview {
  font-size: 13px;
}

.rank-card {
  display: flex;
  align-items: center;
  margin-top: -150px;
}

.rank-num {
  font-family: "Championship";
  font-size: 200px;
  z-index: 1;
}

.rank-img {
  height: 160px;
  margin-left: -20px;
  z-index: 1;
}

/* font */
@font-face {
  font-family: "Championship";
  src: url("./fonts/Championship.ttf");
}